
.ipynb_checkpoints/Waffle Charts-checkpoint.ipynb
.ipynb_checkpoints/Data Visualization - Canadian Immigration-checkpoint.ipynb
.ipynb_checkpoints/Regression Plots-checkpoint.ipynb
.ipynb_checkpoints/Word Clouds-checkpoint.ipynb
.ipynb_checkpoints/Generating Maps with Python-checkpoint.ipynb
.ipynb_checkpoints/Interest in Data Science Topics-checkpoint.ipynb
